html{
    font-size: 18px;
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
}
*{
    margin: 0; padding: 0;
}
body{
    background-color:  hsl(185, 41%, 84%);
    padding-top: 20px;
    margin: 0;
    text-align: center;
}
#container{
background-color: hsl(0, 0%, 100%);
border: 1px none;
border-radius: 24px;
}
.bill, .select-tip, .number-of-people{
    color:  hsl(186, 14%, 43%) ;
}
.bill{
    padding: 20px 20px 0px 20px; 
    text-align: left; 
    margin-bottom: 30px;
}
.bill-value{
    background-image: url(./icon-dollar.svg);
}
.bill-value, .people-icon{
display: block;
text-align: end;
color: hsl(183, 100%, 15%);
background-color:  hsl(189, 41%, 97%);
margin-top: 5px;
height: 40px;
width: 100%;
border: none;
border-radius: 5px;
font-size: 24px;
background-repeat: no-repeat;
background-position: 3.5%;
}
.bill-value:focus, .bill-value:hover, .bill-value:active.
.people-icon:hover, .people-icon:focus{
    border: 2px solid  hsl(185, 41%, 84%);
    cursor: pointer;
}
#select-container{
    position: relative; margin-bottom: 20px;
}
.select-tip{
    text-align: left;
    padding-left: 20px;
    
}
.select-tip-flex{
    text-align: left;   padding-left: 10px; padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
   }
.select-options{
    text-align: center;
    color: hsl(189, 41%, 97%);
    background-color: hsl(183, 100%, 15%);
    height: 40px; width: 45%; 
    margin-left: 2.5%; margin-right: 2.5%;
    margin-top: 15px; 
    border: 1px none; border-radius: 5px;
    font-size: 24px;
}
.select-options:hover, .select-options:hover{
    background-color: hsl(185, 41%, 84%);
    cursor: pointer;
}
.select-custom{
    text-align: center;
    color:  hsl(186, 14%, 43%);
    background-color:  hsl(189, 41%, 97%);
    width: 45%; margin-left: 12px; margin-top: 15px; height: 40px;
    border: 1px none; border-radius: 5px;
    font-size: 24px;
    margin-bottom: 10px;
}
.select-custom:hover, .select-custom:focus{
    cursor: pointer;
    border: 3px solid hsl(185, 41%, 84%);
}
#NOP{
    text-align: left;
    padding-left: 22px;
    margin-bottom: 20px;
}
.number-of-people{
    margin-bottom: 40px;
}
.people-icon{
    background-image: url(./icon-person.svg);
    width: 95%;
}
#second-section{
    background-color: hsl(183, 100%, 15%);
    border: 1px none;
    border-radius: 10px;
}
.TAPP{
    padding-top: 30px;
    text-align: left
}
.tip-amount-per-person{
    position: relative;
}
.tip-amount, .total{
color: hsl(189, 41%, 97%);
text-align: left;
padding-left: 20px;
}
.person{
    color: hsl(186, 14%, 43%);
    font-size: 16px;
    padding-left: 20px; margin-bottom: 20px;
    text-align: left;
}

.result1, .result2{
    color: hsl(172, 67%, 45%);
    text-align: end;
    position: absolute;
    top: 9px; right: 40px;
    font-size: 24px;
}
#reset{
    background-color: hsl(172, 67%, 45%);  
    color: hsl(183, 100%, 15%);
    font-size: 20px;
    height: 40px;
    width: 88%; margin-left: 5%; margin-right: 7%;
    border: none;
    border-radius: 5px;
    margin-bottom: 25px; 
}
#reset:hover{
    cursor: pointer;
    background-color: hsl(185, 41%, 84%);
}

@media screen and (min-width:576px){
#container{
    display: flex;
    margin: 0% 3% 2% 3%; padding: 2%;
    flex-basis: 50%
}   
#first-section{
    width: 100%;
    margin-right: 1%;
}
#select-container{
    margin-top: 1%;
}
#NOP{
    margin-top: 1%;
}
#second-section{
    width: 100%;
    margin-left: 1%;
}
.TPP{
    position: relative;
}
.tip-amount-per-person{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
.person{
    margin-bottom: 7%;
}
.result1, .result2{
    font-size: 200%;
}
#reset{
    position: absolute;
    width: 80%;
    top:480%; right: 3.5%;
    bottom: 10%;
}
#reset:hover, #reset:active{
    transform: scale(1.1);
    transition-duration: .1s;
    transition-timing-function: ease;
}
}
