@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--BGCOLOR);
    background-image: url(./bg-top.svg);
    background-repeat: no-repeat;
    background-position: 305% 0;
    color: var(--COLOR);
    align-items: center;
}
*{
    text-align: center;
}
:root{
    /* COLOR */
    --BGCOLOR:hsl(240, 78%, 98%);
    --COLOR:  hsl(232, 13%, 33%);
    --SECTION2-BG:linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    --SECTION2-COLOR:hsl(240, 78%, 98%);
    --SECTION2-BTN-COLOR: hsl(237, 63%, 64%);
    --BORDER-COLOR: hsl(232, 13%, 33%);
}
.toggle-container{
    display: inline-block;
}
#toggle{
    display: none;
}
.toggle-label{
    position: relative;
    display: inline-block;
    width: 55px;
    height: 30px;
    background-color: var(--SECTION2-BTN-COLOR);
    cursor: pointer; 
    transition: background-color 0.3; 
    border-radius: 20px;
    margin-left: 5px; margin-right: 5px;
    top: 5px; 
}
.toggle-button{
    position: absolute;
    top:3px; left: 3px; 
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
#toggle:checked + .toggle-label{
    background-color: var(--SECTION2-BTN-COLOR) ;
}
#toggle:checked + .toggle-label .toggle-button{
    transform: translateX(25px);
}

#section1, #section2, #section3{
    border: none 1px ;
    border-radius: 10px;
    width: 70%;
    height: 360px;
    position: relative;
    left: 15%;
    margin-top: 30px;
    padding-top: 10px;
}
#section1, #section3{
    background-color:white;
    color:hsl(233, 13%, 49%);
}
#section2{
    position: relative;
    background: var(--SECTION2-BG);
    color: var(--SECTION2-COLOR);
}
#section1-btn, #section2-btn, #section3-btn{
    width: 80%;    height: 40px;
    position: absolute;
    bottom: 30px; right: 10%;
    margin-top: 30px; 
    border: none;   border-radius: 5px;
}
#section1-btn, #section3-btn{
    font-weight: 600;
    background: var(--SECTION2-BG);
    color: var(--SECTION2-COLOR);
}
#section2-btn{
    font-weight: 700;
    background-color: var(--SECTION2-COLOR);
    color: var(--SECTION2-BTN-COLOR);
}
h3{
    margin-top: 10px; margin-bottom: 15px;
}
h1{
    display: inline;
    font-size: 75px;
    color: hsl(232, 13%, 33%);
    margin-top: 0; margin-bottom: 0;
}
.dols{
    position: relative;
    bottom: 10px;
}
#section2 h1{
    color:var(--SECTION2-COLOR) ;
}
.border{
    position: relative;
    display: block;
    right: 5%;
    left: 5%;
    width: 90%;
    height: 0.5px;
    background-color:var(--BORDER-COLOR);
    margin-top: 10px;
    margin-bottom: 10px;
}
small{
    font-size: 40px;
    position: relative;
    bottom: 5px;
}
p{
    margin-top: 15px;
}

@media screen and (min-width:576px){
html{
    background-image: url(./bg-top.svg), url(./bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: 100% 20%, 0% 135%;
} 
#section-housing{
    display: flex;
    position: relative;
    width: 82%;
    top: 35px; right: 40px;
}
#section2{
    height: 400px;
    position: relative;
    bottom: 25px;
    z-index: 2;
}
#section1{
    left: 170px;
    z-index: 1;
}
#section3{
    left: 160px;
    z-index: 1;
}
#section2 h3{
margin-top: 33px; margin-bottom: 20px;
}
#section2-btn{
 margin-bottom: 13px;
 margin-top: 20px;
}
} 
